.block_wrap {
    display: grid;
    place-self: center;
    grid-template-rows: 50% calc(var(--font-size) + 2rem ) auto calc(var(--font-size) + 3rem );
    border: var(--border);
    background-color: var(--bg);
    width: calc( ( 100vw - 4rem - 3 * .5rem ) / 3 );
    height: auto;
    aspect-ratio: 4/3;
}

.img {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: calc( 100% - 1rem );
    background-color: var(--scene-bg);
}

.title {
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    font-size: var(--font-size);
    color: var(--font-color);
    padding: 1rem;
    border-top: var(--border);
    border-bottom: var(--border);
    text-transform: uppercase;
}

.desc {
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    font-size: var(--font-size);
    color: var(--font-color);
    padding: 1rem;
    border-bottom: var(--border);
}

.button_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}