.sell_item_wrap {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.sell_item_input {
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    outline: none;
    border: var(--border);
    width: 50vw;
    height: 50vh;
}

.sell_item_input::before {
    position: absolute;
    content: "+";
    margin: auto;
    font-family: 'PP Neue Montreal';
    font-weight: normal;
    color: var(--font-color);
    font-size: clamp( 5rem, 50vw, 6rem );
}

.sell_item_input input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}