.navbar_wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    border-bottom: var(--border);
}

.actions_wrap {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: flex-start;
    margin: 0 2rem;
}

.action {
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    color: var(--font-color);
    font-size: clamp( .7rem, 3vw, 1rem );  
    text-transform: uppercase;  
}

.signin {
    font-family: "PP Neue Montreal";
    font-weight: bold;
    font-size: clamp( .7rem, 3vw, 1rem );  
    text-transform: uppercase;
    cursor: pointer;
    display: grid;
    place-items: center;
    justify-self: flex-end;
    height: calc(100%);
    min-width: fit-content;
    padding: 0 5rem;
    color: #3E3E3E; 
    background-color: var(--yellow);
    transition: all 100ms ease;
}

.signin:hover {
    background-color: var(--bg);
    color: white;
}

.icon {
    display: grid;
    place-items: center;
    align-self: flex-end;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
}

.mode_icon {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: var(--icon-size);
    height: var(--icon-size);
}

.modal_wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 25rem;
    min-height: 30rem;
    gap: 3rem;
    background-color: var(--bg);
    border: var(--border);
    z-index: 4;
    /* padding: 0 1rem; */
}

.modal_close_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid var(--font-color);
}

.modal_close {
    cursor: pointer;
    display: flex;
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    color: var(--font-color);
    font-size: clamp( .7rem, 3vw, 1rem );
    /* transform: rotate(45deg); */
    width: fit-content;
    height: fit-content;
    padding: 1rem 1rem;
    /* align-self: center; */
    justify-self: flex-end;
    user-select: none;
    /* padding: 0 1rem; */
}

.modal_close:hover {
    color: tomato
}

.input_wrap {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: fit-content;
}

.input {
    display: grid;
    place-self: center;
    place-items: center;
    background-color: transparent;
    width: calc( 100%);
    outline: none;
    border: none;
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    color: var(--font-color);
    font-size: clamp( .7rem, 3vw, 1rem );
    border: 2px solid var(--font-color);
    border-radius: .4rem;
    z-index: 4;
    padding: .55rem 1rem;
}

.modal_wrap input::placeholder {
    display: grid;
    place-items: center;
    color: var(--bg);
    opacity: 0;
}

.modal_label {
    position: absolute;
    /* display: grid; */
    top: 50%;
    left: 0;
    transform: translate( 0%, -50%);
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    color: var(--font-color);
    font-size: clamp( .7rem, 3vw, 1rem );
    width: fit-content;
    height: fit-content;
    /* place-self: center; */
    z-index: 2;
    transition: all 200ms ease-in-out;
}

.input_wrap:active .modal_label,  
.input_wrap:focus-within .modal_label,
.input:not( :placeholder-shown ) + .modal_label
{
    font-size: clamp( .5rem, 3vw, .7rem );
    top: .55rem;
    transform: translate( 0%, -100%);
    color: var(--font-color);
    background-color: var(--bg);
    padding: 0 1rem;
    z-index: 4;
}

.modal_buttons {
    display: flex;
    flex-direction: column;
    width: calc(100% - 1.5rem);
    height: 100%;
    gap: 1rem;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    margin: 1.5rem 0;
}

.modal_button_redirect {
    cursor: pointer;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    font-family: 'PP Neue Montreal';
    font-weight: normal;
    color: var(--font-color);
    text-decoration: underline;
    font-size: calc( clamp( .5rem, 3vw, .7rem ));
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0 1rem;
}

.modal_button_error {
    align-self: center;
    /* justify-self: flex-start; */
    font-family: 'PP Neue Montreal';
    font-weight: normal;
    color: var(--red);
    font-size: calc( clamp( .5rem, 3vw, .7rem ));
    padding: 0 1rem;
}

.wrap_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    width: calc( 100% - 6rem );
    align-self: center;
    gap: .4rem;
}

.wrap_form_error {
    font-family: 'PP Neue Montreal';
    font-weight: normal;
    color: var(--red);
    font-size: calc( clamp( .5rem, 3vw, .7rem ));
    /* margin: 0 3rem; */
}