:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --border: 2px solid white;
  --bg: #3E3E3E;
  --icon-size: clamp( 1.5rem, 3vw, 1.6rem );
  --yellow: #FFF2D5;
  --font-size: clamp( .7rem, 3vw, 1rem );

  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Neue Montreal";
  src: url( "../../fonts/PPNeueMontreal-Bold.otf" );
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
}